﻿@model BurgerApp.Models.Register

@{
  
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<h4>Register</h4>
@if(@TempData["Register_Alert"]!= null)
{
 <div class="alert alert-success" role="alert">
  @TempData["Register_Alert"]
</div>   
}


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">Admin
                    <input class="form-check-input" asp-for="Role" /> @Html.DisplayNameFor(model => model.Role)
                </label>
            </div>
    
            <div class="form-group">
                <label asp-for="User_Name" class="control-label"></label>
                <input asp-for="User_Name" class="form-control" />
                <span asp-validation-for="User_Name" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
