﻿@model BurgerApp.Models.Register

@{
    ViewData["Title"] = "RegisterUser";
}
<head>
    <style>
      
        #required{
        color:red;
        text-align:center;
    }
    .row{
        justify-content:center;
    }
    #heading{
         text-align:center;
    }
   
    </style>
    
</head>

<h1 id="heading">Register</h1>

<h6 id="required">Fields marked with * are compulsory</h6>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RegisterUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    Admin*
                    <input class="form-check-input" asp-for="Role"  /> @Html.DisplayNameFor(model => model.Role)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>*
                <input asp-for="Name" class="form-control" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User_Name" class="control-label"></label>*
                <input asp-for="User_Name" class="form-control" required />
                <span asp-validation-for="User_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mobile_Number" class="control-label"></label>*
                <input asp-for="Mobile_Number" class="form-control" required />
                <span asp-validation-for="Mobile_Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>*
                <input asp-for="Password" class="form-control" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
             <br />
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-success" />
               
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
