﻿@model MVC1.Models.UserClass

@{
    ViewData["Title"] = "DeleteUser";
}

<h1>DeleteUser</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UserClass</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
    </dl>
    
    <form asp-action="DeleteUser">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="GetAllUsers">Back to List</a>
    </form>
</div>
