﻿@model IEnumerable<MVC1.Models.UserClass>

@{
    ViewData["Title"] = "GetAllUsers";
}

<h1>GetAllUsers</h1>

<p>
    <a asp-action="AddUser">Add User</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    
                    @Html.ActionLink("Details", "Details", new {id=item.Id }) |
                    @Html.ActionLink("Delete", "DeleteUser", new {id=item.Id}) |
                    @Html.ActionLink("Update", "UpdateUser", new {id=item.Id }) 
                </td>
            </tr>
        }
    </tbody>
</table>
