﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Sorry !</h1>
<h3>Exception occurred while processing your request!</h3>
<h4>Try again later....</h4>
