﻿@model IEnumerable<BurgerApp.Models.Burger>

@{
    ViewData["Title"] = "AllBurgers";
}

<h1>AllBurgers</h1>
@if(@TempData["Buy_Alert"]!= null)
{
 <div class="alert alert-success" role="alert">
  @TempData["Buy_Alert"]
</div>   
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Burger_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burger_Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Burger_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Burger_Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="AddTocart" asp-route-id="@item.Id">Add to cart</a> 
          
          </td>
        </tr>
}
    </tbody>
</table>
