﻿@model IEnumerable<BurgerApp.Models.Buy>

@{
    ViewData["Title"] = "ViewBill";
}

<h1>ViewBill</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Burger_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burger_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burger_Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@{ float Total =0;}
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Burger_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Burger_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Burger_Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
                    @{
                       
                       Total = item.Price + Total ;
                    }
            </td>
           
        </tr>
        
}
    </tbody>
</table>
<h1>Total Price @Total</h1>
<a asp-action="Confirm">Confirm</a> 

 