﻿@model BurgerApp.Models.Burger

@{
    ViewData["Title"] = "AddBurger";
}

<head>
    <style>
        body{
           
            background: -webkit-linear-gradient(360deg,#e9fbcf 10%,#1d7d8e 360%); background: linear-gradient(360deg,#e9fbcf 10%,#1d7d8e 360%);
        }
          .row{
            justify-content:center;
            background-color:transparent;
            font-size:20px;


        }
        input{
            height:40px;

        }
        #heading{
             text-align:center;
        }

    </style>
</head>
<h1 id="heading">Add Burger</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddBurger">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Burger_Name" class="control-label"></label>
                <input asp-for="Burger_Name" class="form-control" required/>
                <span asp-validation-for="Burger_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Burger_Location" class="control-label"></label>
                <input asp-for="Burger_Location" class="form-control" required />
                <span asp-validation-for="Burger_Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" required/>
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" max="1000" min="10"   class="form-control" required/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Img" class="control-label"></label>
                <input asp-for="Img" type="url" class="form-control" required/>
                <span asp-validation-for="Img" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Add Burger" class="btn btn-success" />
            </div>
            <div>
    <a asp-action="GetAllBurgers">Back</a>
</div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
