﻿@model BurgerApp.Models.Register

@{

    ViewData["Title"] = "Login";
}
<head>
    <style>
        body{
              background: -webkit-linear-gradient(360deg,#e9fbcf 10%,#1d7d8e 360%); background: linear-gradient(360deg,#e9fbcf 10%,#1d7d8e 360%);

          }
          .row{
            justify-content:center;
            background-color:transparent;
            font-size:20px;


        }
        input{
            height:40px;

        }
        #heading{
             text-align:center;
        }

    </style>
</head>
<h1 id="heading">Login</h1>

@if (@TempData["Register_Alert"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Register_Alert"]
    </div>
}


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">Admin</label>
                <input class="form-check-input" asp-for="Role" /> @Html.DisplayNameFor(model => model.Role)

            </div>

            <div class="form-group">
                <label asp-for="User_Name" class="control-label"></label>
                <input asp-for="User_Name" class="form-control" />
                <span asp-validation-for="User_Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-success" />
            </div>
            <br />
             <a asp-action="RegisterUser">Not Registered ?</a>
         </form>

        </div>
        <br />
         
       

         
    </div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
