﻿@model IEnumerable<BurgerApp.Models.Burger>

@{
    ViewData["Title"] = "AllBurgers";
}


@if(@TempData["Buy_Alert"]!= null)
{
 <div class="alert alert-success" role="alert">
  @TempData["Buy_Alert"]
</div>   
}
@if(@TempData["AddToCart_Alert"] != null)
{
 <div class="alert alert-success" role="alert">
  @TempData["AddToCart_Alert"]
</div>   
}
@if(@TempData["RemoveCartItem_Alert"]!= null)
{
 <div class="alert alert-success" role="alert">
  @TempData["RemoveCartItem_Alert"]
</div>   
}
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            
            <div class="container-fluid">
                
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                   
                    <ul class="navbar-nav flex-grow-1">
                    
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="UserActions" asp-action="ViewCart" ><h4>View Cart</h4></a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="UserActions" asp-action="ViewBill"><h4>View Bill</h4></a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>


<h1>Burgers Menu</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="card">
                        <div class="card-body">

                            <h5 class="card-title">
                                <a>@Html.DisplayFor(modelItem => item.Burger_Name)</a>
                            </h5>
                            <!-- Text -->
                            <img class="card-img-top" src=@item.Img  alt="Card image cap" height="300px" width="300px">
                            <p class="card-text">
                                <h3 hidden>Id : @Html.DisplayFor(modelItem => item.Id)</h3>
                                <h3>Available at : @Html.DisplayFor(modelItem => item.Burger_Location)</h3>
                                <h3>Price : @Html.DisplayFor(modelItem => item.Price)</h3>
                                <h3>Quantity : @Html.DisplayFor(modelItem => item.Quantity)</h3>
                                <button type="button" class="btn btn-info"><a asp-action="AddToCart" asp-route-id="@item.Id">Add To Cart</a>
                                </button>
                                </p>
                        </div>
                    </div>
                </div>
                }
         <div>
    </div>
    </div>