﻿
<head>
<style>
body{
     background: -webkit-linear-gradient(360deg,#e9fbcf 10%,#1d7d8e 360%); background: linear-gradient(360deg,#e9fbcf 10%,#1d7d8e 360%);
     }
 </style>
 </head>
        <button type="button" class="btn btn-info"><a asp-action="AllBurgers">Home</a>
                                </button>
<h1>
    Thank you !
</h1>
<h2>
    Bill Paid !
</h2>