﻿@model IEnumerable<BurgerApp.Models.History>

@{
    ViewData["Title"] = "OrderHistory";
}

<head>
<style>
body{
     background: -webkit-linear-gradient(360deg,#e9fbcf 10%,#1d7d8e 360%); background: linear-gradient(360deg,#e9fbcf 10%,#1d7d8e 360%);
     }
 </style>
 </head>
        <button type="button" class="btn btn-info"><a asp-action="ViewBill">View Bill</a></button>
                                

<h1>Order History</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Burger_Id)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Burger_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burger_Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Burger_Id)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Burger_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Burger_Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            
        </tr>
}
    </tbody>
</table>
