﻿@model IEnumerable<BurgerApp.Models.Cart>

@{
    ViewData["Title"] = "ViewCart";
}
<head>
    <style>
        body{
           
            background: -webkit-linear-gradient(360deg,#e9fbcf 10%,#1d7d8e 360%); background: linear-gradient(360deg,#e9fbcf 10%,#1d7d8e 360%);
        }
    </style>
</head>
<h1>ViewCart</h1>
<button type="button" class="btn btn-info"><a asp-action="AllBurgers">Home</a></button>

<table class="table">
    <thead>
        <tr>
            <th>Burger Img</th>
            <th>
                @Html.DisplayNameFor(model => model.Burger_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burger_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burger_Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@item.Img" height="100px" width="100px"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Burger_Id)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Burger_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Burger_Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                 <button type="button" class="btn btn-info"><a asp-action="Buy" asp-route-id="@item.Id">Buy Now</a> </button>
                  <button type="button" class="btn btn-info"><a asp-action="RemoveCartItem" asp-route-id="@item.Id">Delete</a></button>
                
            </td>
        </tr>
}
    </tbody>

           
</table>

