﻿@model BurgerApp.Models.Burger

@{
    ViewData["Title"] = "DeleteBurger";
}
<head>
    <style>
        body{
         background-color:#FFE0FF;
         
     }
     .row{
         justify-content:center;
         font-size:20px;

     }
     h1{
         text-align:center;
     }
    </style>
</head>



<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Burger</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Burger_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Burger_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Burger_Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Burger_Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
    
    <form asp-action="DeleteBurger">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />  | 
        <a asp-action="GetAllBurgers">Back</a>
    </form>
</div>
