﻿@model IEnumerable<BurgerApp.Models.Burger>

        @{
            ViewData["Title"] = "GetAllBurgers";
        }

        <h1>Burgers List</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a>@Html.DisplayFor(modelItem => item.Burger_Name)</a>
                            </h4>
                            <!-- Text -->
                            <p class="card-text">
                                <h3>Id : @Html.DisplayFor(modelItem => item.Id)</h3>
                                <h3>Available at : @Html.DisplayFor(modelItem => item.Burger_Location)</h3>
                                <h3>Price : @Html.DisplayFor(modelItem => item.Price)</h3>
                                <h3>Quantity : @Html.DisplayFor(modelItem => item.Quantity)</h3>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                <a asp-action="DeleteBurger" asp-route-id="@item.Id">Delete</a>

                            </p>
                        </div>
                    </div>
                </div>
                }
              <div>
            






